html {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.9);
}

body {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0);
  color: white;
  text-align: center;
}

@font-face {
  font-family: "Digital-7";
  src: url("graphics/digital-7.ttf");
}

.digital {
  font-family: "Digital-7", Verdana, Tahoma;
  font-size: 5em;
  color: #ffd105;
}

#timer {
}
